<%= form_with(model: card, local: true) do |form| %>
  <% if card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
        <% card.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class='new-card'>

    <div class="field">
      <%= form.label :question %>
      <%= form.text_area :question %>
    </div>

    <div class="field">
      <%= form.file_field :question_picture %>
    </div>
    <hr>
    <div class="field">
      <%= form.label :answer %>
      <%= form.text_area :answer %>
    </div>

    <div class="field">
      <%= form.file_field :answer_picture %>
    </div>
    
    <%# only visible to educators, checkbox checked by default to save time %>
    <% if current_user.has_role?(:educator)%>
      <div class="field">
        <%= form.label :endorsed %>
        <%= form.check_box :endorsed, { checked: true }%>
      </div>
    <% end %>

</div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>