<h1>Cards</h1>
  
  <section class='cards-list'>
    <% @cards.each do |card| %>
    <div class='card'>
      <div class='container'>
        <div class='endorsement-tick'>
            <%= fa_icon "check-square" if card.endorsed%>
        </div>
        <%= card.question %>
        <% if card.question_picture.attached?%>
          <%= fa_icon "image x" %>
        <% end %>
        <hr>
        <%= card.answer %>
        <% if card.answer_picture.attached?%>
          <%= fa_icon "image x" %>
        <% end %>
        <hr>
        <%= image_tag(card.user.profile_picture, height: '32', width: '32') if card.user.profile_picture.attached? %>
        <%= link_to fa_icon("eye 2x"), card %>
        <%# only show edit and delete options to user if they created the card or if the user is an educator%>
        <% if current_user.id == card.user_id %>
          <%= link_to fa_icon("edit 2x"), edit_card_path(card) %>
          <%= link_to fa_icon("trash 2x"), card, method: :delete, data: { confirm: 'Are you sure?' } %>
        
        <% #eductors can endorse cards from the index page %>
        <% elsif current_user.has_role?(:educator) && card.endorsed != true %>
          teachers can endorse cards
          endorse button to be added
        <% else %>

        <% end %>
      </div>
    </div>
    <% end %>
  </section>

<br>

<%= link_to 'New Card', new_card_path %>
