<p id="notice"><%= notice %></p>

<h1>Cards</h1>

  
  <section class='cards-list'>
    <% @cards.each do |card| %>
    <div class='card'>
      <div class='container'>
        <%= card.question %>
        <hr>
        <%= card.answer %>
        <hr>
        <% if card.endorsed %>
          <%= fa_icon "check-square 2x" %>
        <% end %>
        <%= image_tag(card.user.profile_picture, height: '30', width: '30') if card.user.profile_picture.attached? %>
        <%= link_to 'Show', card %>
        <%# only show edit and delete options to user if they created the card (TODO: or if the user is an educator)%>
        <% if current_user.id == card.user_id %>
          <%= link_to 'Edit', edit_card_path(card) %>
          <%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>
    <% end %>
  </section>

<br>

<%= link_to 'New Card', new_card_path %>
