<p>
  <strong>Question:</strong>
  <%= @card.question %>
</p>

<%= image_tag(@card.question_picture) if @card.question_picture.attached? %>

<p>
  <strong>Answer:</strong>
  <%= @card.answer %>
</p>
 <%= image_tag(@card.answer_picture) if @card.answer_picture.attached? %>

<p>
  <strong>Endorsed:</strong>
  <%= @card.endorsed %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @card.user.name %>
</p>

<% if current_user.has_role?(:educator) || @card.user_id == current_user.id %>
<% # only show the edit button if the user is an educator or they created the card %>
  <%= link_to 'Edit', edit_card_path(@card) %> |
<% end %>
<%= link_to 'Back', cards_path %>
