<p>This is the footer</p>
<ul>
<li><%= link_to('Home', home_page_path)%></li>
<li><%= link_to('About', about_page_path)%></li>
<li><%= link_to('How to use app', how_to_use_page_path)%></li>
<li><%= link_to('For Educators', educators_page_path)%></li>
<li><%= link_to('Feedback', feedback_page_path)%></li>
</ul>
<p>End of footer</p>