<aside id='user-details'>
    <% if user_signed_in? %>
        <%= image_tag(current_user.profile_picture, height: '50', width: '50') if current_user.profile_picture.attached? %>
        <h2><%= current_user.name %></h2>
        <h3>My Classes:</h3>
        <ul>
        <% if @courses %>
            <% if current_user.has_role?(:educator) %>
                <% # list owned classes%>
                <% if @educators_courses %>
                    Your exact courses
                    <% @educators_courses.each do |course| %>
                        <li><% course.name %></li>
                    <% end %>
                <% end %>
                <% @courses.each do |course| %>
                    <li><%= course.name %>
                    <%= link_to('View', course_path(course))%></li>
                    <br>
                <% end %>
            <% else %>
                <% # list enrolled courses with buttons to remove enrollment %>
            <% end %>
        <% end %>
        </ul>
        <ul>
            <li><%= link_to('Edit profile', edit_user_path(current_user))%>
            <li><%= link_to('Logout', destroy_user_session_path) %></li>
        </ul>
    <% end %>
</aside>